<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>Play Angluar</title>
  </head>
  <body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.min.js"></script>

    <div ng-app="playAngular", ng-controller="playController">
      <p>
        <label>First Name</label> : <input type="text" ng-model="firstName">
        <label>Last Name</label> : <input type="text" ng-model="lastName">
      </p>
      <h1>Hello <span ng-bind="firstName"></span> <span ng-bind="lastName"></span></h1>
    </div>

    <script>
      var app = angular.module('playAngular', []);
      app.controller('playController', function($scope) {
        $scope.firstName = "John";
        $scope.lastName  = "Doe"
      });
    </script>
  </body>
</html>
