<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>Play Angluar</title>
  </head>
  <body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.min.js"></script>

    <div ng-app="playAngular", ng-controller="playController">
      <p>
        <label>First Name</label> : <input type="text" ng-model="person.firstName">
        <label>Last Name</label> : <input type="text" ng-model="person.lastName">
      </p>
      <h1>Hello <span ng-bind="person.firstName"></span> <span ng-bind="person.lastName"></span></h1>

      <ul>
        <li ng-repeat="x in numbers">{{x}}</li>
      </ul>

      <my-directive></my-directive>
    </div>

    <script>
      var app = angular.module('playAngular', []);

      app.controller('playController', function($scope) {
        $scope.person = {
          firstName: "John",
          lastName:  "Doe"
        };

        $scope.numbers = [1, 2, 4, 8, 16];
      });

      app.directive("myDirective", function() {
        return {
          restrict: "E",
          template: "this is my first directive!"
        };
      });
    </script>
  </body>
</html>
