<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>Play Angluar</title>

    <style media="screen">
      input.ng-invalid.ng-touched {
        border-color: red;
      }
    </style>
  </head>
  <body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.min.js"></script>

    <div ng-app="playAngular", ng-controller="playController">
      <p>
        <label>First Name</label> : <input type="text" ng-model="person.firstName">
        <label>Last Name</label> : <input type="text" ng-model="person.lastName">
      </p>
      <h1>Hello <span ng-bind="person.firstName"></span> <span ng-bind="person.lastName"></span></h1>

      <ul>
        <li ng-repeat="x in numbers">{{x}}</li>
      </ul>

      <my-directive></my-directive>

      <hr>

      <form name="emailForm">
        <label>Email</label> : <input type="email" name="emailInput" ng-model="person.email" required>
        <span ng-show="emailForm.emailInput.$touched && emailForm.emailInput.$error.email">
          Invalid e-mail address
        </span>

        <ul>
          <li>valid: {{emailForm.emailInput.$valid}}</li>
          <li>invalid: {{emailForm.emailInput.$invalid}}</li>
          <li>dirty: {{emailForm.emailInput.$dirty}}</li>
          <li>pristine: {{emailForm.emailInput.$pristine}}</li>
          <li>touched: {{emailForm.emailInput.$touched}}</li>
          <li>untouched: {{emailForm.emailInput.$untouched}}</li>
        </ul>
      </form>
    </div>

    <script>
      var app = angular.module('playAngular', []);

      app.controller('playController', function($scope) {
        $scope.person = {
          firstName: "John",
          lastName:  "Doe"
        };

        $scope.numbers = [1, 2, 4, 8, 16];
      });

      app.directive("myDirective", function() {
        return {
          restrict: "E",
          template: "this is my first directive!"
        };
      });
    </script>
  </body>
</html>
