<div ng-controller="PlayController as vm">
  <p>
    <label>First Name</label> : <input type="text" ng-model="vm.person.firstName">
    <label>Last Name</label> : <input type="text" ng-model="vm.person.lastName">
  </p>
  <h1>Hello <span ng-bind="vm.person.fullName() | uppercase"></span></h1>

  <ul>
    <li ng-repeat="x in vm.numbers">{{x | currency}}</li>
  </ul>

  <my-directive></my-directive>

  <hr>

  <form name="emailForm">
    <label>Email</label> : <input type="email" name="emailInput" ng-model="vm.person.email" required>
    <span ng-show="emailForm.emailInput.$touched && emailForm.emailInput.$error.email">
      Invalid e-mail address
    </span>

    <ul>
      <li>valid: {{emailForm.emailInput.$valid}}</li>
      <li>invalid: {{emailForm.emailInput.$invalid}}</li>
      <li>dirty: {{emailForm.emailInput.$dirty}}</li>
      <li>pristine: {{emailForm.emailInput.$pristine}}</li>
      <li>touched: {{emailForm.emailInput.$touched}}</li>
      <li>untouched: {{emailForm.emailInput.$untouched}}</li>
    </ul>
  </form>
</div>
